---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="about">
  <h4><p style="display: inline">&#x1F44B;</p> About Joelle</h4>
  <p>
    I am a passionate and responsible team player with research interests focused on Machine Learning Application
    in Business Management. When I'm not studying, you can find me enjoying nature through hiking, 
    basking in the sun at the beach, or playing golf or tennis.
    <br>
    <br>
    I'm pursuing <b>Master of Entrepreneurship & Innovation</b> degree at Korea Advanced Institute of Science & Technology<a href="https://www.kaist.ac.kr/en/">(KAIST)</a>
    to enhance my business skills in Marketing and Entrepreneurship. I graduated from San Jose State University<a href="https://www.sjsu.edu/">(SJSU)</a> with a <b>Bachelor of Science in Applied Mathematics 
    with Statistics concentration</b> where I developed solid background in Statistics, Data Science, and Machine Learning.
    <br>
    
  </p>
</div>


<!-- ========== Education ========== -->
<div class="docs-section" id="education">  
  <h4>👩‍🎓 Education</h4>
  
  <p style="display: flex;
            justify-content: space-between;
            align-items: center; 
            margin-bottom: 1px; "><b>Korea Advanced Institute of Science & Technology</b>
                                   <span>Aug 2023 - May 2024(Intended)</span>
  </p> 
  <p>
    Master of Entrepreneurship & Innovation
    <br>
    - Specialized in Business Marketing and Entrepreneurship
    <br>
    📚 Coursework: 
  </p>

  <p style="display: flex;
            justify-content: space-between;
            align-items: center; 
            margin-bottom: 1px; "><b>San Jose State University </b>
                                   <span>Aug 2020 - May 2023</span>
  </p> 
  <p>
    B.S. in Applied Mathematics (Statistics Concentration)
    <br>
    Specialized in Statistics, Data Science, and Machine Learning 
    <br>
    <ul>
    📚 Coursework 
      <li>
       Statistics | Machine Learning in Large Data, Mathematical Statistics, Probability Theory 
      </li>
  * 
  </p>
</div>


<!-- ========== Experiences ========== -->
<div class="docs-section" id="experience">
  <h4>Experience</h4>
  <p style="display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 1px;"><b>Administrative Assistant</b>
                         <span>Jan 2022 - May 2023</span>
  </p> 
  <p>
    Department of Mathematics and Statistics @ San Jose State University 
    <br>
    - 
  </p>

  <p style="display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 1px;"><b>Machine Learning Research Assistant</b>
                         <span>Jan 2023 - May 2023</span>
  </p> 
  <p>
    Department of Mathematics and Statistics @ San Jose State University 
    <br>
    - Participated as Research Assistant
  </p>

  <p style="display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 1px;"><b>Social Media Analyst</b>
                         <span>Aug 2022 - Jan 2023</span>
  </p> 
  <p>
    NCAA Women's Basketball Team @ San Jose State University 
    <br>
    - Collaoborated with NCAA Women's basketball media team
  </p>
</div>

<!-- ========== PROJECTS ========== --> 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button active" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane active" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


<!-- ========== PROJECTS ========== --> 
<div class="docs-section" id="projects">
  <h4>Certificates</h4>

  <ul class="tab-nav">
    <li><div class="button" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button active" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane active" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>You can download my full Resume here → <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">CHO_RESUME.pdf</a>.</p>

   The Timeline 
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul> 
</div>


<div class="docs-section" id="template">
    <!--<h4>Acknowledgement</h4>-->
    This website was built by Joelle Cho using html, css, javascript based on 
    <a href="https://github.com/msaveski/www_personal" target="_blank">Martin Saveski</a>'s template.
</div>
