<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.data.main_info.name }} | {{ page.title }}</title>
  <meta name="description" content="Joelle Hyunseo Cho">
  <meta name="author" content="Joelle Hyunseo Cho">
  <meta property="og:title" content="Joelle Hyunseo Cho" />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:url" content="http://www.martinsaveski.com" /> -->
  <meta property="og:site_name" content="Hyunmin Cho" />
  <!-- <link rel="canonical" href="http://www.martinsaveski.com" /> -->

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton/normalize.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/external/skeleton/skeleton.css" | prepend: site.baseurl }}>
  <link rel="stylesheet" href={{ "/libs/custom/my_css.css" | prepend: site.baseurl }}>

  <!-- JQuery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src={{ "/libs/external/jquery-3.1.1.min.js" | prepend: site.baseurl }}></script>

  <!-- Font-Awesome
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}>

  <!-- Academicons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/academicons-1.8.6/css/academicons.min.css" | prepend: site.baseurl }}>

  <!-- Skeleton tabs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/skeleton_tabs/skeleton-tabs.css" | prepend: site.baseurl }}>
  <script src={{ "/libs/external/skeleton_tabs/skeleton-tabs.js" | prepend: site.baseurl }}></script>

  <!-- Timeline
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href={{ "/libs/external/timeline.css" | prepend: site.baseurl }}>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link rel="stylesheet" href={{ "/libs/external/github-prettify-theme.css" | prepend: site.baseurl }}>-->
  <script src={{ "/libs/custom/my_js.js" | prepend: site.baseurl }}></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>
  <link rel="shortcut icon" type="image/png" href={{ "/libs/icon.png" | prepend: site.baseurl }}>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <section class="header">
      <div class="row">
        <div class="three columns">
          <a href="{{ site.baseurl }}/"><img class="u-max-full-width" src='{{ site.baseurl }}{{ site.data.main_info.profile_pic }}'></a>
        </div>
        <div class="nine columns main-description">
            <h1>{{ site.data.main_info.name }}</h1>
            <p>{{ site.data.main_info.title }}</p>

            <!--  Email CSS  -->
            <style>
              .email-link {
                  text-decoration: none;  /* Removes the underline by default */
                  color: inherit;         /* Uses the surrounding text color */
              }
              .email-link:hover, 
              .email-link:focus {
                  text-decoration: underline; /* Adds the underline on hover or focus */
              }
            </style>
            <p><a class="email-link" href="mailto:{{ site.data.main_info.mailto }}">{{ site.data.main_info.email }}</a></p>

            <p>{{ site.data.main_info.citizenship }}</p>
            <p id="currentTime"></p>
            <script>
              function displayCurrentTime() {
                  let now = new Date();
                  let hours = now.getHours();
                  let minutes = now.getMinutes();

                  // Make sure hours and minutes are two digits
                  hours = hours < 10 ? '0' + hours : hours;
                  minutes = minutes < 10 ? '0' + minutes : minutes;
                  document.getElementById('currentTime').innerText = `🕦 Timezone(KST): ${hours}:${minutes}`;
              }
              
              displayCurrentTime();
            </script>
              <!--
              <span onclick="window.open('{{ site.data.main_info.twitter }}')" style="cursor: pointer">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
              -->
              <span onclick="window.open('https://www.linkedin.com/in/joellecho')" style="cursor: pointer">
                <div style="display: inline-flex; align-items: center;">
                  <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 28px;"></i>
                  <p style="margin-left: 5px;">linkedin.com/in/joellecho</p>
                </div>
              </span>
              <br>
              <span onclick="window.open('https://github.com/joellecho')" style="cursor: pointer">
                <div style="display: inline-flex; align-items: center;">
                  <i class="fa fa-github" aria-hidden="true" style="font-size: 28px;"></i>
                  <p style="margin-left: 5px;">github.com/joellecho</p>
                </div>
              </span>
              <br>
              <span onclick="window.open('https://www.instagram.com/joellecho/')" style="cursor: pointer">
                <div style="display: inline-flex; align-items: center;">
                  <i class="fa fa-instagram" aria-hidden="true" style="font-size: 28px;"></i>
                  <p style="margin-left: 5px;">instagram.com/joellecho</p>
                </div>
              </span>
              
        </div>
      </div>
    </section>

    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#about" | prepend: site.baseurl }}>About</a></li>
          <!--<li class="navbar-item"><a class="navbar-link" href={{ "/index.html#publications" | prepend: site.baseurl }}>Publications</a></li>-->
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#education" | prepend: site.baseurl }}>Education</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#experience" | prepend: site.baseurl }}>Work Experience</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#certificates" | prepend: site.baseurl }}>Certificate</a></li>
          <li class="navbar-item"><a class="navbar-link" href={{ "/index.html#resume" | prepend: site.baseurl }}>Vitae</a></li>
        </ul>
      </div>
    </nav>

    {{ content}}

    <div class="footer">
      <div class="row">
        <div class="four columns">
          {{ site.data.main_info.name }}
        </div>
        <div class="four columns">
          {{ site.data.main_info.email }}
        </div>
        <div class="four columns">
          <span onclick="window.open('{{ site.data.main_info.linkedin }}')" style="cursor: pointer">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </span>
          <span onclick="window.open('{{ site.data.main_info.github }}')" style="cursor: pointer">
            <i class="fa fa-github" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

  </div>

  <!-- Google Analytics -->
  {% include google_analytics.html %}

  <!-- do not remove -->
  <span id="62cd7b7da1aff3196fdc26b60e396df9"></span>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
